{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login | anoroc</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
    <section id="register-login">
        <div class="card register-login-card">
            <div class="row">
                <div class="col">
                    <h1 class="register-login-title">Login</h1>
                    <form action="/auth/" method="POST">
                        {% csrf_token %} 
                        <div class="form-group grup-buat">
                            {{ form.user_name.label_tag }}
                            {{ form.user_name }}
                        </div>
                        <div class="form-group grup-buat">
                            {{ form.Password.label_tag }}
                            {{ form.Password }}
                        </div>
                        <div class="join-button">
                            <button type="submit" name="button-login" class="btn choose-button">LOGIN</button>
                        </div>
                        <div class="signup-now">
                            <p class="bawahnya">Tidak punya akun? <a href="register/"><span style="margin-bottom: 0;color:#1C2F55;">Sign up di sini.</span></a></p>
                        </div>
                    </form>
                </div>
            </div>
            {% comment %} {% if user is None %}
            <p>halo</p>
            {% endif %} {% endcomment %}
        </div>
    </section>

    {% include 'footer.html' %}
{% endblock content %}