{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Register | anoroc</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
    <section id="register-login">
        <div class="card register-login-card">
            <div class="row">
                <div class="col">
                    <h1 class="register-login-title">Register Akun</h1>

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group grup-buat">
                            {{ form.user_name.label_tag }}
                            {{ form.user_name }}
                        </div>
                        <div class="form-group grup-buat">
                            {{ form.Password.label_tag }}
                            {{ form.Password }}
                        </div>
                        <div class="join-button">
                            <button type="submit" class="btn choose-button">SIGN UP</button>
                        </div>
                    </form>
                    <div class="signup-now">
                        <p class="bawahnya">Sudah ada akun? <a href="/auth/"><span style="margin-bottom: 0; color:#1C2F55;">Login di sini.</span></a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}

{% endblock content %}