html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Lato';
    text-align: center;
}

/* Navbar */
.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #1C2F55;
  line-height: 1;
  z-index: 999;
}

#title {
  background-color: #fff;
  text-align: center;
}

.top-nav-home {
  justify-content: center;
}

.top-nav {
  padding-left: 4%;
}

.nav-item {
  padding: 0 4%;
}

.nav-link {
  font-style: italic;
  font-size: 20px;
  color: #fff;
  transition: 0.4s;
}

.nav-link:hover {
  color: #FFF490;
}

.navbar-brand {
  color: #fff;
  font-size: 30px;
  position: absolute;
  font-family: 'Times New Roman';
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-html {
  /* margin-right: 48%; */
  left: 47%;
}

.di-dalem {
  display: none;
}

.ulnya-login-home {
  padding: 10px;
  padding-right: 30px;
}

.linya-login {
  padding: 0 15px;
}

.tulisan-login-home {
  color: white;
  padding-right: 35px;
  transition: 0.4s;
}

.tulisan-login-home:hover {
  color: #FFF490;
}

.tulisan-login {
  color: white;
  transition: 0.4s;
}

.tulisan-login:hover {
  color: #FFF490;
}

.isi-home {
  padding-top: 10%;
}

.case {
  animation-name: moveUp;
  animation-duration: 1.5s;
}

.big-number {
  color: #1C2F55;
  font-weight: 900;
  font-size: 10rem;
  animation-name: moveUp;
  animation-duration: 2.3s;
}

.home-row {
  margin: 0;
  padding: 3%;
  animation-name: moveUp;
  animation-duration: 3.2s;
}

a:link {
  text-decoration: none;
}

.fitur-card {
  padding: 0 2%;
}

.fitur {
  padding: 20%;
  border-radius: 30px;
  color: black;
  background: linear-gradient(180deg, #FFF490 0%, rgba(255, 244, 144, 0) 100%);
  border-color: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.fitur:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
  color: #1C2F55;
}

.fitur-text {
  font-style: italic;
  font-weight: 400;
  font-size: 3.5rem;
}

/* Article List */
#list {
  background-color: #fff;
  padding: 8% 7%;
  color: black;
}

.top-detail {
  animation-name: moveUp;
  animation-duration: 1.5s;
}

.divCard {
  padding: 2% 0;
  animation-name: moveUp;
  animation-duration: 2.2s;
}

.daily-inspo {
  font-weight:900;
  font-size:55px;
}

.article-card {
  text-align: left;
  padding: 4%;
  border-radius: 65px;
  color: black;
  border-color: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.article.card:hover {
  box-shadow: none;
}

.article-image {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
}

.article-judul {
  font-size: 35px;
  font-weight: bold;
}

.article-isi {
  font-size: 20px;
}

.buat-button {
  display:inline-block;
  padding:2% 10%;
  margin:0 0.3em 0.3em 0;
  border-radius:75px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #07CA55;
  font-style: italic;
  font-size: 25px;
}

.buat-button:hover {
  color:#fff;
  background-color:#0aad4b;
}

/* Create Article */
#buat {
  padding: 10% 6%;
  color: black;
  animation-name: moveUp;
  animation-duration: 1.2s;
}

.form-artikel {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

.grup-buat {
  padding: 1% 0;
}

.add-form {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
  border-radius: 40px; 
  font-size: 25px;
  font-weight: bold;
  padding: 2%;
}

.submit-btn-col {
  text-align: right;
}

.submit-button {
  display:inline-block;
  padding:2% 10%;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.3s;
  background-color: #07CA55;
  font-size: 22px;
  border-radius: 50px;
}

.submit-button:hover {
  color:#fff;
  background-color:#0aad4b;
}

/* Article detail */
.bg {
  position: relative;
  overflow: hidden;
}

.detail-image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  left:0;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
  z-index: -1;
}

.content-detail {
  padding-top: 27%;
  padding-left: 0;
  color: black;
}

.detail-card {
  border-radius: 0px 65px 65px 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  padding: 3% 15%;
  padding-right: 7%;
  text-align: left;
  animation-name: moveUp;
  animation-duration: 1.5s;
}

.judul-text {
  font-weight: 900;
  font-size: 55px;
}

.isi {
  padding: 3% 8%;
  padding-right: 30%;
  text-align: left;
  animation-name: moveUp;
  animation-duration: 2.2s;
}

.isi-text {
  font-size: 25px;
}

.komentar-kamu {
  font-weight:900;
}

/* Comment */

.komentar {
  padding: 10% 0;
}

.post-button {
  display:inline-block;
  padding:1% 6%;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.3s;
  background-color: #07CA55;
  font-size: 25px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.post-button:hover {
  color:#fff;
  background-color:#0aad4b;
}

.show-komen {
  font-size: 20px;
}

.comment-judul {
  font-style:italic;
  font-size: 20px;
}

.comment-isi {
  font-size: 20px;
}

/* Message */
#pesan {
  padding: 10% 7%;
  color: black;
}

.judul {
  display : flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
  font-style: italic;
}

.utama {
  background: linear-gradient(180deg, rgba(255, 244, 144, 0) 0%, rgba(255, 244, 144, 0.6) 100%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  padding: 2vh 0.5vw;
  padding-bottom: 5%;
  animation-name: moveUp;
  animation-duration: 2s;
}

.pesan {
  background-color: #FFF490;
  border-radius: 50px;
  padding: 2%;
  margin: 2%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.5s;
  align-self: center;
}

.pesan:hover {
  box-shadow: none;
}

.tombol-div {
  text-align: right;
  padding-bottom: 3%;
}

.tombol {
  padding:1% 5%;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.3s;
  background-color: #07CA55;
  font-size: 22px;
  border-radius: 50px;
  animation-name: moveUp;
  animation-duration: 1.2s;
}

.tombol:hover {
  color:#fff;
  background-color:#0aad4b;
}

.kepala {
  border-radius: 20px 20px 0 0;
  background-color: #FFF490;
}

.badan {
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 244, 144, 0) 0%, rgba(255, 244, 144, 0.6) 100%);
}

.kanan {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

/* Register Login */
#register-login {
  text-align: left;
  padding: 10%;
  font-size: 20px;
  height: 100vh;
}

.register-login-card {
  border-radius: 30px;
  padding: 5%;
  animation-name: moveUp;
  animation-duration: 1.2s;  
  background: linear-gradient(180deg, #fdf6b3 0%, rgba(255, 244, 144, 0) 100%);
  border-color: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%; 
}

.register-login-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 3%;
}

.signup-now {
  padding: 2% 0;
}

.choose-button {
  display:inline-block;
  padding:1% 2%;
  margin:0 0.3em 0.3em 0;
  border-radius:20px;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #07CA55;
  margin-top: 2%;
}

.choose-button:hover {
  color:#fff;
  background-color:#0aad4b;
}

/* Footer */
.page-footer {
  color: white; 
  background-color: #1C2F55;
}

.footer-container {
  padding: 3% 5%;
  margin: 0;
}

.vertical-line {
  border-left: solid 2px #fff;
  margin: 0 5px;
}

.footer-icon {
  font-size: 30px;
  margin: 0 15px;
  color: white;
}

.footer-icon:hover {
  color: #FFF490;
}

.give-feedback-footer {
  font-style: italic;
  color: white;
  text-decoration: none;
  transition: 0.4s;
  margin-left: 15px;
  align-self: center;
}

.give-feedback-footer:hover {
  color: #FFF490;
}

.gabungan-tulisan {
  margin: 40px;
  margin-left: 20px;
}

.tulisan-footer {
  font-size: 22px;
  font-style: italic;
}

/* accordion */
.acc-card {
  border: 1px solid #c4c4c4;
}

.acc-container {
  padding-right: 15px;
  padding-left: 15px;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 9999px;
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
  from {
      transform: scale(1);
      opacity: 0.4;
  }
  to {
      transform: scale(100);
      opacity: 0;
  }
}

.aks-accordion {
  margin: 0 auto;
  animation-name: moveUp;
  animation-duration: 1.4s;
}

.aks-accordion-row {
}

.aks-accordion-item {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: all .3s;
}

.aks-accordion-item-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  transition: all .3s;
}

.aks-accordion-item.opened {
  background-color: #FFF490;
}

.aks-accordion-item-row:hover {
  background-color: #FFF490;
}

.aks-accordion-item-icon {
  width: 25px;
  height: 25px;
  background: #1C2F55;
  border-radius: 9999px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  text-align: center;
}

.aks-accordion-item-icon svg {
  width: 15px;
  fill: white;
  margin: 0 auto;
}

.aks-accordion-item-title {
  width: 90%;
  text-align: left;
  line-height: 1.5;
  display: flex;
  align-items: center;
  font-family: 'Yeseva One';
}

.aks-accordion-item-title h4 {
  margin: 0;
}

.updown-button {
  background-color: #FFF;
  padding: 2% 20%;
  z-index: 99;
}

/* .col-caret {
  padding: 0;
} */

.aks-accordion-item-content {
  display: none;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  word-break: break-word;
  text-align: left;
  line-height: 1.5;
  background-color: #fff;
  color: #262626;
}

/* If opened, logo open (+) is none */
.aks-accordion-item.opened .aks-accordion-item-icon-open {
  display: none;
}

.aks-accordion-item-icon-close {
  display: none;
}

.aks-accordion-item.opened .aks-accordion-item-icon-close {
  display: block;
}

/* If opened, tulisan 'sembunyikan komen' is none */
.aks-accordion-item.opened .aks-accordion-item-title-open {
  display: none;
}

.aks-accordion-item-title-close {
  display: none;
}

.aks-accordion-item.opened .aks-accordion-item-title-close {
  display: block;
}

.input-group {
  padding-top: 5%;
}

@keyframes moveUp {
  0% {
      transform: translateY(70px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@media (max-width: 1024px) {

  .top-nav-home {
    line-height: 1.5;
  }

  .fa-bars {
    font-size:70px !important;
  }

  .nav-link {
    font-size: 3rem;
    padding: 3% 0;

  }

  .top-nav {
    text-align: left;
  }

  /* home */
  .isi-home {
    padding-top: 25%;
  }

  .case {
    font-size: 4rem;
  }

  .big-number {
    font-size: 12rem;
    padding: 5%;
  }

  .navbar-brand {
    font-size: 4rem;
    padding: 3%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    left: 0;
  }

  .isi {
    padding-top: 10%;
  }

  .fitur-card {
    padding: 4% 10%;
  }

  .fitur-text {
    font-size: 5rem;
  }

  /* Article List */
  #list {
    padding: 22% 10%;
  }

  .daily-inspo {
    font-size: 5.5rem;
  }

  .buat-button {
    font-size: 3rem;
    margin-top: 5%;
  }

  .article-card {
    padding: 8%;
    margin: 5%;
  }

  .article-judul {
    font-size: 4rem;
  }

  .article-isi {
    font-size: 3rem;
  }

  /* Create Article */
  #buat {
    padding: 22% 10%;
  }

  .grup-buat {
    font-size: 3rem;
  }

  .add-form {
    padding: 5%;
  }

  .image-upload {
    font-size: 3rem;
  }

  .submit-button {
    margin-top: 10%;
    font-size: 3rem;
  }

  /* Detail */
  #detail {
    padding: 13% 0;
  }

  .detail-card {
    width: 70%;
    padding-left: 10%;
  }

  .judul-text {
    font-size: 4rem;
  }

  .isi {
    padding-right: 10%;
  }

  .isi-text {
    font-size: 3rem;
  }

  .komentar-kamu {
    margin-top: 10%;
    font-size: 3.5rem;
  }

  .form-group {
    margin: 5% 0;
  }

  .form-control {
    font-size: 3rem;
  }

  .post-button {
    font-size: 3rem;
    padding: 2% 10%;
  }

  .comment-judul {
    font-size: 3rem;
  }

  .comment-isi {
    font-size: 3rem;
  }

  .comment-login {
    font-size: 3rem;
  }

  /* Message */
  #pesan {
    padding: 22% 10%;
  }

  .tombol {
    font-size: 3rem;
    padding: 3% 5%;
  }

  .utama {
    padding: 8%;
  }

  .leave-positive {
    font-size: 4rem;
  }

  .pesan {
    font-size: 3rem;
    margin: 5%;
    padding: 5%;
  }

  .choose-button {
    font-size: 3rem;
    padding: 5% 10%;
    border-radius: 30px;
  }

  /* Footer */
  .footer-container {
    padding: 7%;
    margin: 0;
  }
  
  .vertical-line {
    border-left: solid 2px #fff;
    margin: 0 30px;
  }
  
  .footer-icon {
    font-size: 70px;
    margin: 0 20px;
    color: white;
  }
  
  .give-feedback-footer {
    margin-left: 15px;
    font-size: 2.5rem;
  }
  
  .gabungan-tulisan {
    margin: 40px;
    margin-left: 20px;
  }
  
  .tulisan-footer {
    font-size: 2.5rem;
    text-align: left;
  }

  /* Login Register */
  .di-dalem {
    display: block;
  }

  .di-luar {
    display: none;
  }

  .ulnya-login {
    margin-left: 0!important;
    width: 100%;
  }

  .linya-login {
    padding: 3% 4%;
  }

  .linya-login-home {
    text-align: right;
  }

  .tulisan-login {
    font-size: 3rem;
    padding: 3% 0;
  }

  .tulisan-login-home {
    font-size: 2.3rem;
    padding: 1%;
  }

  #register-login {
    padding: 22% 10%;
  }

  .register-login-card {
    padding: 8%;
  }

  .register-login-title {
    font-size: 3.5rem;
  }

  .grup-buat {
    font-size: 3rem;
  }

  .add-form {
    padding: 5%;
  }

  .image-upload {
    font-size: 3rem;
  }

  .submit-button {
    margin-top: 10%;
    font-size: 3rem;
  }

  .bawahnya {
    font-size: 3rem;
  }

  /* comment acc */
  .show-komen {
    font-size: 3rem;
  }
  .aks-accordion-item-icon {
    width: 65px;
    height: 65px;
    margin-right: 2rem;
  }

  .aks-accordion-item-icon svg {
      width: 35px;
  }

  /* Statistik */
  .nama-provinsi {
    font-size: 3rem;
  }

  .input-group {
    padding-top: 10%;
  }

  .kasus {
    padding: 5%;
    font-size: 4rem;
  }

  #list_province {
    font-size: 3rem;
  }

  #list_statistic {
    font-size: 3rem;
  }
}

/* Feedback */
.reviews {
  padding-top: 15%;
  max-width: 900px;
  margin: auto;
}