{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Artikel | anoroc</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<section id="list">
  <div class="row top-detail">
    <div class="col-lg-6" style="text-align:left; padding-left:5%;">
      <h1 class="daily-inspo">Daily Inspo</h1>
    </div>

    <div class="col-lg-6" style="text-align:right;">
      <a class="btn buat-button" href="{% url 'article_create' %}" role="button">Buat Artikel</a>
    </div>

  </div>


  {% for article in articles %}
    <div class="divCard">
      <a href="{% url 'detail' slug=article.slug %}">
        <div class="card-container">
            <div class="card article-card">
                <div class="row">
                  <div class="col-lg-3" style="text-align:center;">
                    <img src="{{ article.image.url }}" class="article-image"/>
                  </div>
                  <div class="col-lg-9">
                    <br>
                    <h2 class="article-judul">{{ article.judul }}</h2>
                    <h2 class="article-isi">{{ article.snippet }}</h2>
                  </div>
                </div>
            </div> <!-- end card -->
        </div> <!-- end card-container -->
      </a>
    </div>
    {% comment %} <h3><a href="{% url 'detail' slug=article.slug %}">{{ article.judul }}</a></h3>
    <p>{{ article.snippet }}</p>
    <br> {% endcomment %}
  {% endfor %}

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% include 'footer.html' %}
{% endblock content %}