{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Artikel | anoroc</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<section id="list">
  <div class="row top-detail">
    <div class="col-lg-6" style="text-align:left; padding-left:5%;">
      <h1 class="daily-inspo">Daily Inspo Versi Json</h1>
    </div>

    <div class="col-lg-6" style="text-align:right;">
      <a class="btn buat-button" href="{% url 'article_create' %}" role="button">Buat Artikel</a>
    </div>

  </div>

  <div id="semuaArtikel">

  </div>


</section>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static 'script.js' %}"></script>

{% include 'footer.html' %}
{% endblock content %}