{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Artikel | anoroc.</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<section id="buat">
    <h1 style="font-weight:bold; font-size:60px;">Tulis Artikelmu</h1>
    <div class="form-artikel">
        <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group grup-buat">
                {{ form.judul.label_tag }}
                {{ form.judul }}
            </div>
            <div class="form-group grup-buat">
                {{ form.isi.label_tag }}
                {{ form.isi }}
            </div>

            <div class="row" style="padding-top:2%;">
                <div class="col-lg-6 image-upload">
                    {{ form.image }}
                </div>
                <div class="col-lg-6 submit-btn-col">
                    <input class="btn submit-button" type="submit" name="Submit" value="Buat Artikel">
                </div>
            </div>
        </form>
    </div>
</section>

{% include 'footer.html' %}
{% endblock content %}