{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> Baca Artikel | anoroc.</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<section id="detail">
    <div>
        <div class="bg">
            <img src="{{ article.image.url }}" class="detail-image"/>
            <div class="container-fluid content-detail">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-container">
                            <div class="card detail-card">
                                <h1 class="judul-text">{{ article.judul }}</h1>
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div>
                    <div class="col-lg-6"></div>
                </div>
                <div class="isi">
                    <h2 class="isi-text">{{ article.isi }}</h2>
                    
                    <div class="komentar">
                        <h2 class="komentar-kamu">Komentar kamu :</h2>
                        {% if request.user.is_authenticated %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.isi }}
                            </div>
                            <input class="btn post-button" type="submit" name="Post">
                        </form>
                        {% else %}
                        <p class="comment-login"> Kamu harus login terlebih dahulu untuk dapat berkomentar. </p>
                        {% endif %}
                        <br><br>

                        <div class="acc-card"> 
                            <div class="aks-accordion" itemscope itemtype="https://schema.org/FAQPage" data-accordion="">
                                {% comment %} <h1>SSS Accordion and Google Schema</h1> {% endcomment %}
                                <div class="aks-accordion-row">
                                <div id="pos" class="aks-accordion-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" data-accordion-item="" data-ripple="#00000026">
                                    <div class="aks-accordion-item-row border-atas">
                                        <div class="aks-accordion-item-icon">
                                            <svg class="aks-accordion-item-icon-open" viewBox="0 0 512 512">
                                            <path d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216
                                            v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z" /></svg>
                                            <svg class="aks-accordion-item-icon-close" viewBox="0 0 512 512">
                                            <path d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z" /></svg>

                                        </div>
                                        <div class="aks-accordion-item-title">
                                            <h4 class="show-komen aks-accordion-item-title-open" style="font-family: 'Lato'">Tampilkan komentar</h4>
                                            <h4 class="show-komen aks-accordion-item-title-close" style="font-family: 'Lato'">Sembunyikan komentar</h4>
                                        </div>
                                    </div>
                                    <div class="aks-accordion-item-content" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" data-accordion-content="">
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="{% static 'js/comment.js'%}"></script>
{% include 'footer.html' %}
{% endblock content %}