{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Statistik  | anoroc.</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
    <br><br><br>

    <div class="row input-group mb-3">
        <div class="col-lg-8">
            <span class="input-group-text nama-provinsi" id="inputGroup-sizing-default">Masukan nama provinsi</span>
            <input id = "keywordProvinsi" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Contoh: Jawa Barat">
        </div>
        <div class="col-lg-4">
            <!-- 2 Line di bawah ini memiliki class yang sudah ada pada commit yang tepat waktu. 2 line tersebut mengembalikan class yang tidak sengaja terhapus oleh commit yang telat. -->
            <!-- Class tersebut adalah "buttonProvinsi" dan "buttonProvinsiClear" -->
            <button class="btn submit-button buttonProvinsi" type="button" id="button-addon2">Submit</button> 
            <button class="btn submit-button buttonProvinsiClear" type="button" id="button-addon2">Clear</button>
        </div>
    </div>

    <br><br>

    <ul id="list_province">
    </ul>

    <br><br>
    <h2 class="kasus">Kasus Covid-19 di Indonesia Saat Ini</h2>
    <hr><br>
    <ul id="list_statistic">
    </ul>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>

{% include 'footer.html' %}
{% endblock content %}