/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.judul {
  display : flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
}

.utama {
  background-image: linear-gradient(white, #FFF490) ;
  border-radius: 50px;
  padding: 2vh 0.5vw;
  box-shadow: 5px 5px 5px 5px #888888;
}

.pesan {
  background-color: white;
  border-radius: 20px;
  padding: 2vh 1vw;
  margin: 1vh 1vw;
  box-shadow: 2px 2px 2px 2px #888888;
  text-align: center;
}

.tombol {
  display : flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5vh 5vw;
}

.kepala {
  background-color: #FFF490;
}

.badan {
  background-image: linear-gradient(white, #FFF490);
}

.kanan {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}