{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home | anoroc</title>
{% endblock meta %}

{% block content %}

<section id="title">
    <div class="navbar top-nav-home">
        <a class="navbar-brand" href="">anoroc.</a>
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav ml-auto ulnya-login-home"> 
            <li class="linya-login-home"><a href="#" class="tulisan-login-home"><span class="glyphicon"></span><i class="fas fa-user-alt profile-icon" style="padding-right:10px;"></i>Halo, {{ user.username }}</a>
            <a href="/auth/logout/" class="tulisan-login-home">Logout</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav ml-auto ulnya-login-home"> 
            <li class="linya-login-home"><a href="/auth/register/" class="tulisan-login-home"><span class="glyphicon"></span><i class="fas fa-user-alt profile-icon" style="padding-right:10px;"></i>Register Akun</a>
            <a href="/auth/" class="tulisan-login-home"><span class="glyphicon"></span>Login</a></li>
        </ul>
        {% endif %}
    </div>
    <div class="isi-home">
      <h2 class="case">Kasus covid hari ini :</h2>
      <h1 class="big-number">664.930</h1>
      <div class="row home-row">
        <div class="col-lg-4 fitur-card">
          <a href="/article/">
            <div class="card-container">
                <div class="card fitur">
                    <h1 class="fitur-text">Artikel</h1>
                </div> <!-- end card -->
            </div> <!-- end card-container -->
          </a>
        </div>
        <div class="col-lg-4 fitur-card">
          <a href="/statistic">
            <div class="card-container">
                <div class="card fitur">
                    <h1 class="fitur-text">Statistik</h1>
                </div> <!-- end card -->
            </div> <!-- end card-container -->
          </a>
        </div>
        <div class="col-lg-4 fitur-card">
          <a href="/messagetext/">
            <div class="card-container">
                <div class="card fitur">
                    <h1 class="fitur-text">Pesan</h1>
                </div> <!-- end card -->
            </div> <!-- end card-container -->
          </a>
        </div>
      </div>
    </div>
{% comment %} <div id="kopi-covid"></div>
<script>
  var f = document.createElement("iframe");
  f.src = "https://kopi.dev/widget-covid-19/";
  f.width = "100%";
  f.height = 380;
  f.scrolling = "no";
  f.frameBorder = 0;
  var rootEl = document.getElementById("kopi-covid");
  console.log(rootEl);
  rootEl.appendChild(f);
</script> {% endcomment %}
</section>

{% include 'footer.html' %}
{% endblock content %}
