{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Feedback | anoroc.</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<section id="buat">
    <h1 style="font-weight:bold; font-size:60px;">Give Feedback</h1>
    <div class="form-artikel">
        <form action="" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group grup-buat">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group grup-buat">
                {{ form.feedback.label_tag }}
                {{ form.feedback }}
            </div>

            <div class="d-flex">
                <div>
                </div>
                <div class="ml-auto">
                    <input class="btn submit-button" type="submit" name="Submit" style="padding: 10px; padding-left: 15px; padding-right: 15px;" value="Submit Feedback">
                </div>
            </div>

        </form>
        
    </div>

    <div class="reviews">
        <h3 style="font-weight:bold; padding-top: 5%;">Reviews</h3>

        {% for f in feedback %}
        <div class="row" style="padding-top: 15px;">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-sm-10 col-md-8">
                <h5><b>{{ f.name }}</b></h5>
            </div>
            <div class="col-sm-1 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-sm-10 col-md-8">
                <p>{{ f.feedback }}</p>
            </div>
            <div class="col-sm-1 col-md-2"></div>
        </div>
        <hr class = "style1">
        
        
        
        {% endfor %}

    </div>
</section>

{% include 'footer.html' %}
{% endblock content %}