{% extends 'base.html' %}
{% load static %} 

{% block meta %}
<title>Pesan | anoroc.</title>
{% endblock meta %} 

{% block content %}
{% include 'navbar.html' %}
<!-- Button trigger modal -->
<section id="pesan">
    <div class="tombol-div">
        <button type="button" class="btn tombol" data-toggle="modal" data-target="#exampleModal">
            Tulis Pesanmu
          </button>
          <button type="button" class="btn btn-success tombol" id="reload"></button>
    </div>
      <div class="card utama">
        <div class="judul">
          <h1 class="leave-positive">#LeaveAPositiveMessage</h1>
        </div>
        <div class="container kumpulan">
              <div class="row justify-content-center" id="search">
                  {% for m in pesan %}
                  <div class="col-lg-3 pesan">
                      {{ m.message }}
                  </div>
                  {% endfor %}
              </div>
        </div>


      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header kepala">
              <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Pesan Kamu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body badan">
              {% if user.is_authenticated %}
              <form method="POST">
                {% csrf_token %}
                {{ formmessage.message }}
                <div class="kanan">
                    <button type="Submit" class="btn btn-success ">Post</button>
                </div>
              </form>
              {% else %}
              <h3>Silahkan Login untuk melanjutkan</h3>
              <a class="btn btn-success tombol" href="/auth/register/" role="button">Register</a>
              <a class="btn btn-success tombol" href="/auth/" role="button">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
</section>

{% include 'footer.html' %}
{% endblock content %}