<footer class="page-footer">
    <div class="container-fluid footer-container">
        <div class="row">
            <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
            <a href="#"><i class="far fa-envelope footer-icon"></i></a>
            <span class="vertical-line"></span>
            <a href="/feedback/" class="give-feedback-footer">
                Give Feedback
            </a>  
        </div>
        <div class="gabungan-tulisan">
            <div class="row tulisan-footer">
                Faculty of Computer Science, University of Indonesia
            </div>
            <div class="row tulisan-footer">
                (Fakultas Ilmu Komputer Universitas Indonesia)
            </div>
        </div>
    </div>
</footer>