<div class="navbar navbar-expand-lg top-nav">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation" 
    style="padding: 3%;">
        <i class="fas fa-bars fa-2x" style="font-size: 100%; color: #FFF490" aria-hidden="true"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
        <ul class="navbar-nav">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a href="/article/" class="nav-link">Artikel</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a href="/statistic" class="nav-link">Statistik</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a href="/messagetext/" class="nav-link">Pesan</a>
            </li>
            <div class="di-dalem">
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto ulnya-login"> 
                    <li class="linya-login"><a href="#" class="tulisan-login"><span class="glyphicon"></span><i class="fas fa-user-alt profile-icon" style="padding-right:10px;"></i>Halo, {{ user.username }}</a></li>
                    <li class="linya-login"><a href="/auth/logout/" class="tulisan-login">Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav ml-auto ulnya-login"> 
                    <li class="linya-login"><a href="/auth/register/" class="tulisan-login"><span class="glyphicon"></span><i class="fas fa-user-alt profile-icon" style="padding-right:10px;"></i>Register Akun</a></li>
                    {% comment %} <li><a href="/admin/login/?next=/"><span class="glyphicon"></span>Login</a></li> {% endcomment %}
                    <li class="linya-login"><a href="/auth/" class="tulisan-login"><span class="glyphicon"></span>Login</a></li>
                </ul>
                {% endif %}
            </div>
        </ul>
    </div>
    <a class="navbar-brand navbar-html" href="/">anoroc.</a>
    <div class="di-luar">
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav ulnya-login ml-auto"> 
            <li class="linya-login"><a href="#" class="tulisan-login"><span class="glyphicon"></span><i class="fas fa-user-alt profile-icon" style="padding-right:10px;"></i>Halo, {{ user.username }}</a></li>
            <li class="linya-login"><a href="/auth/logout/" class="tulisan-login">Logout</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav ulnya-login ml-auto"> 
            <li class="linya-login"><a href="/auth/register/" class="tulisan-login"><span class="glyphicon"></span><i class="fas fa-user-alt profile-icon" style="padding-right:10px;"></i>Register Akun</a></li>
            {% comment %} <li><a href="/admin/login/?next=/"><span class="glyphicon"></span>Login</a></li> {% endcomment %}
            <li class="linya-login"><a href="/auth/" class="tulisan-login"><span class="glyphicon"></span>Login</a></li>
        </ul>
        {% endif %}
    </div>
</div>